*{
  box-sizing: border-box;
}

html { font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #222;
  color: #ccc;
  font-size: 1.4rem;
}
h1 { font-size: 2.4rem; }

#root{
  min-height: 800px;
}

.header {
  background-color: #181818;
  border-bottom: 1px solid #282828;
}
.header-wrapper {
  width: 960px;
  margin: auto;
  color: white;
  display: flex;
  flex-direction:row;
  align-items: center;
}
.header h1 a {
  color: #658802;
  text-decoration: none;
  font-size: 3.2rem;
}

/*********************************************************
 * Upload
 */

.upload {
  margin-left: auto;
}

.upload-button {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.6rem;
}
  .upload-button:hover {
    background-color: #658802;
    color: white;
  }

.upload-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:hsla(0, 0%, 38%, 0.4);
  z-index: 999;
}
.upload-modal {
  min-height: 50%;
  max-height: 100%;
  width: 50%;
  background-color: #222;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.upload-dropzone {
  flex-grow: 1;
  min-height: 80px;
  border: 4px dashed #658802;
  margin-bottom: 1rem;
}

.upload-imagePreviews{
  overflow-y: auto;
}

.upload-imageContainer{
  padding: 0.2rem;
  font-size: 0;
  position: relative;
}
.upload-statuspending,
.upload-statusfail,
.upload-statusok {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1rem;
  text-shadow: 0px 0px 4px black;
}
.upload-statuspending:before{
  content: '⏳';
}
.upload-statusfail:before{
  content: '👎';
}
.upload-statusok:before{
  content: '👍';
}

.upload-imagePreview {
  object-fit: cover;
  width: 100%;
  height: 140px;
  display: flex;
}

.upload-input {
  display: none;
}

/*********************************************************
 * Global styles
 */

.globalStyle-editinplace{
  position: relative;
}

.material-icons.globalStyle-editinplacePen {
  position: absolute;
  left: -28px;
  top:0;
  height: 30px;
  width: 24px;
  font-size: 2.4rem;
  cursor: pointer;
  color: #444;
  font-weight: normal;
  opacity: 0;
}
.globalStyle-editinplace:hover .globalStyle-editinplacePen{
  opacity: 1;
}
.globalStyle-editinplacePen:hover {
  opacity: 1;
  color: #fff;
  fill: #111;
}
.globalStyle-editinplace input {
  padding: 0;
  margin: 0;
  border: 0;
  color: #000;
  width: 100%;
}
.globalStyle-editinplace textarea {
  width: 100%;
  min-height: 140px;
  color: #000;
}

@media screen and (max-width: 960px) {
  .header-wrapper {
    width: 100%;
  }
    .header h1 {
      margin-left: 10px;
    }
    .upload-button {
      margin-right: 10px;
    }

    .upload-modal {
      top: 1rem;
      width: 90%;
      left: 5%;
      bottom: 1rem;
    }
}

/*********************************************************
 * Material Icons
 */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/*********************************************************
 * Pace
 */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #658802;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
