*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #222;
}
#root{
  min-height: 800px;
}
.header {
  width: 960px;
  margin: auto;
  color: white;
  display: flex;
  flex-direction:row;
  align-items: center;
}

.upload {
  margin-left: auto;
}

  .upload-button {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
  }
    .upload-button:hover {
      background-color: #658802;
      color: white;
    }

  .upload-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:hsla(0, 0%, 38%, 0.4);
  }
  .upload-modal {
    height: 50%;
    width: 50%;
    background-color: #222;
    padding: 3rem;
  }

  .upload-dropzone {
    height: 50%;
    margin-top: 25%;
    margin: auto;
    border: 4px dashed #658802;
  }

  .upload-imageContainer {
    height: 140px;
  }
  .upload-imagePreview {
    max-height: 140px;
  }

@media screen and (max-width: 1000px) {
  .header {
    width: 100%;
  }
    .header h1 {
      margin-left: 10px;
    }
    .upload-button {
      margin-right: 10px;
    }

    .upload-modal {
      top: 1rem;
      width: 90%;
      left: 5%;
      bottom: 1rem;
    }

}
