.image{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
}

.image-container{
  order: 2;
  flex:0 0 960px;
}

.image-image  /* Plus loin que la nuit et le jour */{
  max-width: 100%;
  display: block;
  margin: auto;
}

.image-album,
.image-urls {
  flex:1;
}
.image-album {
  order: 1;
}

.image-urlInput {
  display: inline-block;
  height: 2.2rem;
  font-size: 1.3rem;
  background-color: #000;
  border:0;
  color:#ddd;
  cursor: pointer;
  text-indent: 0.5rem;
  text-overflow: ellipsis;
}

.image-urlLabel {
  width: 10rem;
  display: inline-block;
}

.image-title {
  position: relative;
}


.image-description {
  width: 100%;
  padding: 2rem 0;
}

/*********************************************************
 * Urls
 */

.image-urls {
  order: 3;
  color: #ccc;
}

.image-urlsWrapper {
  padding-left: 1rem;
}

.image-urlList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.image-urlList li {
  margin: 8px 0;
}

/*********************************************************
 * Admin
 */

.image-admin {
  padding-left: 1rem;
}

.image-adminWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image-adminButton {
  display: inline-flex;
  font-size: 1.4rem;
  padding: 7px 10px;
  text-align: left;
  cursor: pointer;
  margin-bottom: 0.5rem;
  line-height: 1.4rem;
}
.image-adminButton .material-icons{
  margin-right: 0.3rem;
}

.image-adminButton:hover {
  background-color: #658802;
  color: white;
}

/*********************************************************
 * Responsive overrides
 */

/* 960 + 240 mini de chaque coté = 1450*/
@media screen and (max-width: 1450px) {
  .image{
    width: 960px;
  }

  .image-container{order: 1;}
  .image-album {order: 2;}
  .image-urls {order: 3;}
}

@media screen and (max-width: 960px) {
  .image{
    width: 100%;
  }

  .image-container{
    width: 100%;
    flex:1 0 100%;
  }
}

